<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">
          All available <%= controller_name %>
        </h3>

        <span>
            <%= link_to 'New Student', new_student_path, class: 'btn btn-primary pull-right' %>
        </span>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Date of birth</th>
            <th>School</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.first_name %></td>
              <td><%= student.middle_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.email %></td>
              <td><%= student.phone %></td>
              <td><%= student.course_id %></td>
              <td><%= student.batch_id %></td>
              <td><%= student.date_of_birth %></td>
              <td><%= student.school_id %></td>
              <td>
                <div class="btn-group">
                  <%= link_to student, class: 'btn btn-info ' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_student_path(student), class: 'btn btn-default' do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Date of birth</th>
            <th>School</th>
            <th colspan="3"></th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
