<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">
          All available <%= controller_name %>
        </h3>

        <span>
            <%= link_to 'New Batch', new_batch_path, class: 'btn btn-primary pull-right' %>
        </span>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Course</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody>
          <% @batches.each do |batch| %>
            <tr>
              <td><%= batch.name %></td>
              <td><%= batch.course_id %></td>
              <td>
                <div class="btn-group">
                  <%= link_to batch, class: 'btn btn-info ' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_batch_path(batch), class: 'btn btn-default' do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to batch, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>Course</th>
            <th colspan="3"></th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>